@model Product

<!--{
    ViewData["Title"] = $"{Model.Name}";
}
-->


<div class="row">
    <div class="col-6">
        <img class="card-img-top" src=@Model.ImagePath alt="Изображение товара"/>
    </div>

    <div class="col-6">
        <h5>@Model.Name</h5>
        <h5>@Model.Cost</h5>
        <h5>@Model.Description</h5>
        <a class="btn btn-dark" href="/home/index" role="button">Продолжить покупки</a>
        <a class="btn btn-dark" href="/cart/add?productId=@Model.Id" role="button">Добавить в корзину</a>
    </div>
</div>


<!--<div class="card-body">
    <img class="card-img-top" src=Product.ImagePath alt="Alternate Text" />
    <h5>@Model.Cost</h5>
    <h4>@Model.Description</h4>
    
</div>
-->
